body {
  background-color: #06142e;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

#git_link {
  position: sticky;
  top: 5px;
  background-color: #040d1f;
  color: white;
  width: 100%;
  text-align: center;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: #facc15;
  margin-bottom: 25px;
  margin-top: 28px;
}
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #334155;
}

label {
  margin-top: 5px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

input[type="number"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #536887;
  color: white;
  border-radius: 4px;
  border-width: 2px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #06142e;
}


button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #1b3358;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

button[type="submit"]:hover {
  transition-duration: 0.2s;
  background-color: #4c45a0;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.center-button a {
  display: inline-block;
  text-align: center;
}

#resultBox {
  display: none;
  margin-top: 3px;
  margin-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #536887;
  text-align: center;
  border-radius: 5px;
}

#resultText {
  font-size: 25px;
  color: #fdcb03;
  margin-top: 5px;
  margin-bottom: 2px;
}

#courseGpaInputs {
  margin-top: 10px;
  padding: 10px;
  background-color: #06142e;
  border: 1px solid #536887;
  border-radius: 4px;
  color: white;
  font-size: 15px;
}

.center-button button[type="submit"] {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  background-color: #4c45a0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.center-button button[type="submit"]:hover {
  transition-duration: 0.2s;
  background-color: #1b3358;
}
